<%-include('../cabecalho.ejs')%>
<section class="col-12 col-md-10">
    <div class="card my-4">
        <h5 class="card-header">Editar Jogador</h5>
        <div class="card-body">
            <form method="post">
                <div class="mb-3"></div>
                    <label for="id" class="form-label">ID</label>
                    <input type="text" name="id" readonly id="id" class="form-control" value="<%=Jogador.id%>">
                </div>
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" name="nome" required id="nome" class="form-control" value="<%=Jogador.nome%>">
                </div>
                <div class="mb-3">
                    <label for="altura" class="form-label">Altura</label>
                    <input type="text" name="altura" required id="altura" class="form-control" value="<%=Jogador.altura%>">
                </div>
                <div class="mb-3">
                    <label for="time" class="form-label">Time</label>
                    <select  name="time" id="time" class="form-control">
                            <option value="">selecione</option>
                            <%Times.forEach(function(time){%>
                                <option value="<%=time.id%>"><%=time.nome%></option>
                            
                            <%})%>
                    </select>
                </div>
                <div class="mb-3">
                    <input type="submit" value="Salvar" class="form-control">
                </div>
            </form>
        </div>
    </div>
</section>
<%-include('../rodape.ejs')%>