<%-include('../cabecalho.ejs')%>
<section class="col-12 col-md-10">
    <div class="card my-4">
        <h5 class="card-header">Lista de Jogadores</h5>
        <div class="card-body">

            <form method="post" class="form-inline">
                <div class="form-group mb-2">
                    <label for="pesquisar" class="sr-only">Pesquisar</label>
                    <input type="text" class="form-control" id="pesquisar" placeholder="Pesquisar" name="pesquisar">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
            </form>

            <table class="table table-striped table-hover table-dark">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Altura</th>
                        <th scope="col">Time</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Deletar</th>
                    </tr>
                </thead>
                <tbody>
                    <%Jogadores.forEach(function(jogador){%>

                    <tr>
                        <th scope="row"> <%=jogador.id%> </th>
                        <td> <%=jogador.nome%> </td>
                        <td> <%=jogador.altura%> </td>
                        <td><%=jogador.time !=null?jogador.time.nome:""%>
                             </td>
                        <td>
                            <a href="/admin/jogador/edt/<%=jogador.id%>">Editar</a>
                        </td>
                        <td>
                            <a href="/admin/jogador/del/<%=jogador.id%>">Deletar</a>
                        </td>
                    </tr>

                    <%})%>

                </tbody>
            </table>
            <!--FIM TABELA-->
<div class="footer">
    <a href="/admin/jogador/add" class="btn add"><i class="fas fa-add"></i>&nbsp;Adicionar</a>
  </div>
        </div>
    </div>
</section>
<%-include('../rodape.ejs')%>